@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik.ttf');
}

/* General */
:root {
  --main-font: 'Rubik', sans-serif;
  --main-color: #313131;
  --main-hover-color: #000000;
  --main-background-color: rgb(243, 243, 243);
  --header-font-size: 1rem;

  /* header button */
  --header-button-bg: rgb(100, 167, 100);
  --header-button-color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #c4e2d5 0%,
    #bbe6ca 16.667%,
    #a9deba 33.333%,
    #99d2af 50%,
    #93ccb2 66.667%,
    #9bd2c0 83.333%,
    #added0 100%
  );
  font-family: var(--main-font);
}
