#add-product {
  margin-top: 30px;
  padding: 20px 30px;
  background-color: #78b76d2d;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

#add-product > label:not(:first-child) {
  margin-top: 1.5rem;
}

.add-product-header {
  font-size: 2.5rem;
}

#add-product > input {
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.26);
  font-size: 1.25rem;
}

#add-product > textarea {
  resize: none;
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.26);
  font-size: 1.25rem;
}

#add-product > input[type='file'] {
  font-size: 1rem;
  font-family: var(--main-font);
}

#add-product > input[type='number']::-webkit-outer-spin-button,
#add-product > input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add-product > button {
  margin-top: 1rem;
  font-size: var(--header-font-size);
  background-color: var(--header-button-bg);
  color: var(--header-button-color);
  border: none;
  border-radius: 8px;
  border-width: 1px;
  padding: 10px 15px;
  font-family: var(--main-font);
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#add-product > button:hover {
  background-color: rgb(30, 137, 58);
  color: white;
}

#add-product > #category {
  margin-top: 5px;
  font-family: var(--main-font);
  padding: 0.25rem;
}
