/* Products page */
.categories-header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.categories-header > h1 {
  font-size: 2.5rem;
}

.categories-header > a {
  font-size: var(--header-font-size);
  background-color: var(--header-button-bg);
  color: var(--header-button-color);
  border: none;
  border-radius: 8px;
  border-width: 1px;
  padding: 10px 15px;
  font-family: var(--main-font);
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-decoration: none;
}

.categories-header > a:hover {
  background-color: rgb(30, 137, 58);
  color: white;
}
