/* Homepage */

.container > .homepage-title {
  font-size: 2rem;
  margin-bottom: 24px;
}

.container > .homepage-description {
  font-size: 1.25rem;
  color: rgb(87, 87, 87);
  line-height: 1.5;
  margin-bottom: 24px;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.links-container > * {
  width: 100%;
  border-radius: 20px;
  font-size: 2.5rem;
  text-decoration: none;
  padding: 40px 20px;
  color: inherit;
  background-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: background-size 0.4s ease;
}

.links-container > *:hover {
  background-size: 110% auto;
}

.products-card {
  background-image:
    linear-gradient(rgba(255, 238, 238, 0.9), rgba(160, 255, 166, 0.9)),
    url(/images/categories-tea.jpg);
  transition: background-size 0.4s ease;
}

.categories-card {
  background-image:
    linear-gradient(rgba(194, 255, 197, 0.7), rgba(255, 255, 186, 0.9)),
    url(/images/categories-tea.jpg);
  transition: background-size 0.4s ease;
}
