.container > a {
  font-size: var(--header-font-size);
  background-color: var(--header-button-bg);
  color: var(--header-button-color);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-family: var(--main-font);
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-decoration: none;
  display: inline-block;
}

.container > a:hover {
  background-color: rgb(30, 137, 58);
  color: white;
}

.view-product-container {
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 1rem;
  margin-top: 30px;
  padding: 2rem;
}

.product-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.product-content > img {
  width: 30vw;
  max-width: 300px;
  border-radius: 1rem;
}

.product-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-category {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 1rem;
  font-weight: bold;
}

.product-header {
  display: flex;
  justify-content: space-between;
}

.product-header > h3 {
  font-weight: bold;
  font-size: 2rem;
}

.product-header > p {
  font-size: 2rem;
}

.product-quantity,
.product-description {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.2;
}

.product-buttons {
  display: flex;
  width: fit-content;
  margin-left: auto;
  gap: 10px;
  margin-top: 20px;
}

.product-buttons > form > button {
  font-size: var(--header-font-size);
  background-color: var(--header-button-bg);
  color: var(--header-button-color);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-family: var(--main-font);
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-decoration: none;
  display: inline-block;
}

#delete-product-button {
  background-color: hsl(0, 64%, 61%);
}

#delete-product-button:hover {
  background-color: red;
}

#edit-product-button:hover {
  background-color: rgb(30, 137, 58);
}
